[submodule "ttlg_dos"]
	path = ttlg_dos
	url = https://github.com/BattModels/ttlg_dos.git
[submodule "trilayer_stacked"]
	path = trilayer_stacked
	url = https://github.com/BattModels/trilayer_stacked.git
